* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*---------------------- I N D E X -----------------------*/

/*---------- Header -----------*/
header {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
.header-container {
  width: 1360px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgb(34, 40, 49);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: sticky;
  top: 0px;
}
.img-logo {
  width: 60px;
  border-radius: 3px;
  margin-left: 30px;
}
.title-header {
  width: 400px;
  color: white;
  margin-left: 20px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 16px;
}
.day_container {
  border: 10px outset white;
  background-color: rgb(34, 40, 49);
  color: white;
  width: 520px;
  height: 220px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top: 300px;
  left: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.day_container:hover {
  transition: 1s;
  transform: scale(1.2);
}
.h4index {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
}
.pindex {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 55px;
  margin-bottom: 10px;
}
nav {
  width: 550px;
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-family: "Open Sans", "arial", sans-serif;
}
/*---------- Main -----------*/
.main-container {
  display: flex;
  background-image: url(../assets/design1_image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1360px;
  height: 1470px;
  transition: 28.2s;
}
.h-main {
  width: 1360px;
  height: 140px;
  background-color: rgb(255, 211, 105);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 55px;
  font-family: "Gilroy", "Roboto", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.p-main {
  width: 500px;
  color: white;
  font-size: 25px;
  font-weight: lighter;
  font-style: normal;
  font-family: "Open Sans", "arial", sans-serif;
  position: absolute;
  top: 290px;
  left: 90px;
}
.img-hockey {
  width: 400px;
  border-radius: 10px;
  border: 4px outset white;
  position: absolute;
  top: 270px;
  left: 850px;
  box-shadow: rgb(255, 211, 105, 0.4) 5px 5px,
    rgba(255, 211, 105, 0.3) 10px 10px, rgba(255, 211, 105, 0.2) 15px 15px,
    rgba(255, 211, 105, 0.1) 20px 20px, rgba(255, 211, 105, 0.5) 25px 25px;
}
.img-hockey:hover {
  transition: 1s;
  transform: translate(-50px);
}
.p-footer {
  color: white;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1360px;
  height: 130px;
  background-color: rgb(255, 211, 105);
  font-family: "Roboto", sans-serif;
}
/*---------------------- A B O U T -----------------------*/

/*---------- Header -----------*/
.text-container {
  border: 10px outset white;
  background-color: rgb(34, 40, 49);
  color: white;
  border-radius: 5px;
  width: 610px;
  height: 340px;
  display: inline-block;
  position: absolute;
  top: 270px;
  left: 90px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text-container:hover {
  transition: 1s;
  transform: scale(1.2);
}
.dt-about {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
}
.dd-about {
  font-size: 13px;
  margin-left: 20px;
  margin-right: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-indent: 25px;
}
#img-about {
  width: 400px;
  border-radius: 10px;
  border: 4px outset white;
  position: absolute;
  top: 300px;
  left: 850px;
  box-shadow: rgba(238, 197, 80, 0.4) 5px 5px, rgba(238, 197, 80, 0.3) 10px 10px,
    rgba(238, 197, 80, 0.2) 15px 15px, rgba(238, 197, 80, 0.1) 20px 20px,
    rgba(238, 197, 80, 0.5) 25px 25px;
}
/*---------------------- C O N T A C T -----------------------*/

/*---------- Header -----------*/
#img-md {
  width: 150px;
  background-color: rgb(34, 40, 49);
  margin-top: 70px;
  margin-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.p-contact {
  font-size: 13px;
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
#text-contact {
  width: 500px;
  height: 150px;
  margin-left: 90px;
  margin-top: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*---------------------- G A M E I N F O R M A T I O N -----------------------*/

/*---------- Main -----------*/
.table-container {
  border: 10px outset white;
  background-color: rgb(34, 40, 49);
  color: white;
  border-radius: 5px;
  color: white;
  width: 700px;
  height: 550px;
  display: inline-block;
  position: absolute;
  top: 260px;
  left: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
table {
  background-color: rgb(34, 40, 49);
  color: white;
  border: 10px outset white;
  width: 650px;
  height: 400px;
  margin-left: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
table:hover {
  transition: 1s;
  transform: scale(1.2);
}
th,
td {
  font-size: 14px;
  border: 1px solid white;
}
tr:hover {
  background-color: rgb(255, 211, 105);
  color: rgb(34, 40, 49);
  cursor: pointer;
}
caption {
  font-size: 13px;
  color: white;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-style: italic;
}
.h-schedule {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 25px;
  color: white;
}
.info-gf {
  border: 10px outset white;
  background-color: rgb(34, 40, 49);
  color: white;
  width: 450px;
  height: 400px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  position: absolute;
  top: 360px;
  left: 840px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dt-gf {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  text-decoration: underline;
}
.dd-gf {
  margin-left: 40px;
  font-size: 14px;
  font-style: italic;
}
.mail-gf,
.tel-gf {
  text-decoration: none;
}
.tel-gf:hover {
  cursor: pointer;
  color: rgb(255, 211, 105);
}
.mail-gf:hover {
  cursor: pointer;
  color: rgb(255, 211, 105);
}
.maps {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 900px;
  width: 1200px;
  height: 500px;
  margin-top: 100px;
  margin-left: 80px;
}
.maps-location {
  background-color: rgb(255, 211, 105);
  font-size: 25px;
  font-family: "Gilroy", "Roboto", sans-serif;
  font-weight: lighter;
  color: white;
  width: 1061px;
  height: 80px;
  position: absolute;
  top: 900px;
  left: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
iframe {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container-maps {
  margin-top: 30px;
  margin-left: 60px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  width: 315px;
  height: 230px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title-maps {
  margin-bottom: px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  background-color: rgb(34, 40, 49);
  font-family: "Roboto", sans-serif;
  color: white;
}
/*---------------------- R U L E S -----------------------*/

/*---------- Main -----------*/
.container-rules {
  border: 10px outset white;
  background-color: rgb(34, 40, 49);
  color: white;
  width: 650px;
  height: 950px;
  position: absolute;
  top: 300px;
  left: 360px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.container-rules:hover {
  transition: 1s;
  transform: scale(1.2);
}
.sub-rules {
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  font-size: 19px;
  font-weight: bolder;
}
h6 {
  font-size: 15px;
  font-weight: lighter;
}
.dt-rules {
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
}
.dd-rules {
  width: 550px;
  text-indent: 30px;
  font-size: 13px;
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 40px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
.inter {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
}
.ol-li {
  width: 550px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 45px;
  font-size: 13px;
}
.negrita {
  font-size: 18px;
}
.ol-li2 {
  margin-bottom: 10px;
  margin-left: 45px;
  font-size: 13px;
}
.inter-li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
}
#all-play {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
.mini-list {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  margin-top: 10px;
}
.inter-li2 {
  width: 500px;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 85px;
}
.active {
  text-decoration: none;
  color: rgb(255, 211, 105);
}

/*---------------------- R E G I S T R A T I O N -----------------------*/

/*---------- Main -----------*/
.form-container {
  border: 1px solid rgb(194, 193, 193);
  background-color: rgb(238, 238, 238);
  color: rgb(26, 38, 52);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  width: 690px;
  height: 1150px;
  position: absolute;
  top: 300px;
  left: 350px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.personal {
  border: 1px solid rgb(194, 193, 193);
  display: inline-block;
  width: 667px;
  height: 260px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
legend {
  margin-left: 30px;
  margin-bottom: 20px;
}
.col {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-size: 13px;
}
#birth-date {
  margin-top: 7px;
}
#grade {
  margin-top: 13px;
}
.space {
  margin-left: 20px;
}
.birth {
  font-size: 13px;
}

.which {
  border: 1px solid rgb(194, 193, 193);
  width: 667px;
  height: 135px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.space-check {
  margin-left: 3px;
}
.input-which {
  margin-left: 25px;
  margin-bottom: 15px;
}
.small-letter {
  font-size: 13px;
}
#marjorie-p-hart {
  margin-left: 38px;
}
#north-elementary {
  margin-left: 73px;
}
#south-elementary {
  margin-left: 29px;
}
.what {
  border: 1px solid rgb(194, 193, 193);
  width: 667px;
  height: 105px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.input-what {
  margin-left: 25px;
  margin-bottom: 15px;
}
#midfield {
  margin-left: 26px;
}
.uniform {
  border: 1px solid rgb(194, 193, 193);
  width: 667px;
  height: 160px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.input-uniform {
  margin-left: 25px;
  margin-bottom: 15px;
}
#medium {
  margin-left: 41px;
}
#extra-large {
  margin-left: 37px;
}
.permission {
  margin: 20px;
}
.text-permission {
  font-size: 13px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.parent {
  border: 1px solid rgb(194, 193, 193);
  width: 667px;
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
  border-radius: 5px;
}
.input-parent {
  margin-left: 5px;
}
.date {
  border: 1px solid rgb(194, 193, 193);
  width: 667px;
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
  border-radius: 5px;
}
.input-date {
  margin-left: 5px;
}
.legend-permision {
  margin-left: 15px;
}
.submit {
  width: 70px;
  height: 30px;
  background-color: rgb(26, 38, 52);
  border: 2px solid white;
  margin-top: 40px;
  margin-left: 320px;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
}
.submit:hover {
  border: 2px solid white;
  background-color: rgb(255, 211, 105);
  color: white;
  cursor: pointer;
}
input {
  border: 1px solid rgb(194, 193, 193);
  border-radius: 3px;
  padding: 4px;
  font-size: 13px;
}
select {
  border: 1px solid rgb(194, 193, 193);
  border-radius: 3px;
  padding: 4px;
  font-size: 12px;
}
.reset {
  width: 70px;
  height: 30px;
  background-color: rgb(26, 38, 52);
  border: 1px solid white;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  margin-left: 210px;
}
.reset:hover {
  border: 2px solid white;
  background-color: rgb(255, 211, 105);
  color: white;
  cursor: pointer;
}
