* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*---------------------- D A R K M O D E -----------------------*/

.body-dark-mode {
  color: white;
  background-color: #232325;
  transition: 0.3s ease all;
}
.cohorte,
.redes,
.aEvent,
.navas {
  background-color: #232931;
  transition: 0.3s ease all;
}
.h1,
.main {
  background-color: #393e46;
  transition: 0.3s ease all;
}

/*---------------------- I N D E X -----------------------*/
/*---------- Header -----------*/

.container-header {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 65px;
}
header {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
nav a {
  box-shadow: rgba(168, 159, 159, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  text-decoration: none;
}
.logo-ae {
  width: 100px;
  margin-right: 200px;
  filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
  border-radius: 1px;
}
.logo-ae:hover {
  transition: 2s;
  translate: 10px;
}
.btn {
  font-size: 13px;
}
label {
  font-size: 13px;
}
#home-container,
#upcoming-container,
#past-container {
  display: flex;
  flex-wrap: wrap;
}
.form-control {
  font-size: 12px;
  border-radius: 50px 0px 0px 50px;
  width: 170px;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin-left: 25px;
  width: 223px;
  height: 317px;
}
.card:hover {
  box-shadow: white 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.card-scale:hover {
  transition: 1s;
  transform: scale(1.04);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
main {
  position: relative;
}

.carousel-item {
  height: auto;
}
.forms-container {
  border: 1px solid rgb(221, 221, 221);
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/*---------------------- C O N T A C T -----------------------*/

/*---------- Main -----------*/
.active {
  height: auto;
}

/*---------- Footer ---------*/
.container-footer {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/*---------------------- S T A T S -----------------------*/

/*---------- Main -----------*/

table {
  border: 2px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.rowPointer:hover {
  background-color: rgb(220, 53, 69);
  cursor: pointer;
}
th {
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 17px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.subtd {
  font-size: 13px;
  height: 27px;
}
td {
  text-align: center;
  border: 1px solid rgb(221, 221, 221);
  font-size: 11px;
  height: 25px;
}

/*---------- Footer -----------*/

.insta :hover {
  transition: 1s;
  transform: scale(1.2);
}
.face :hover {
  transition: 1s;
  transform: scale(1.2);
}
.wsp :hover {
  transition: 1s;
  transform: scale(1.2);
}
.title {
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.buscador {
  position: relative;
  left: 135px;
}
.descripction-img {
  font-size: 12px;
}
.mini-cards:hover {
  transition: 1s;
  transform: scale(1.02);
}
.card-img {
  width: 215px;
  height: 138px;
}
.card-title {
  color: black;
  font-size: 15px;
}
.card-description {
  color: black;
  font-size: 11px;
}
.details-boton {
  border: 1px solid red;
  color: red;
  position: absolute;
  left: 60px;
  top: 268px;
}

#home-boton-prev,
#home-boton-next,
#upcoming-boton-prev,
#upcoming-boton-next,
#past-boton-prev,
#past-boton-next,
#contact-boton-prev,
#contact-boton-next,
#stats-boton-prev,
#stats-boton-next {
  position: absolute;
  top: 36px;
  bottom: auto;
  width: 120px;
}
.details-card {
  width: 1000px;
  height: 200px;
}
.container-details-card {
  border-radius: 10px;
  border: 1px solid rgb(221, 221, 221);
  width: 700px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container-details-card:hover {
  transition: 1s;
  transform: scale(1.05);
}
.card-text-description {
  font-size: 13px;
}
.price-logo,
.name-logo,
.category-logo {
  width: 30px;
  margin-right: 5px;
}

.date-logo {
  width: 22px;
  margin-left: 2px;
  margin-right: 5px;
}
.place-logo {
  width: 15px;
  margin-right: 10px;
  margin-left: 4px;
}
.capacity-logo {
  width: 25px;
  margin-right: 10px;
}
.assistance-logo {
  width: 20px;
  margin-right: 13px;
}
.details-footer {
  margin-top: 0px;
}
.card-text-details {
  font-size: 15px;
}
.carousel-control-prev-icon:hover {
  transition: 1s;
  transform: scale(1.2);
}
.carousel-control-next-icon:hover {
  transition: 1s;
  transform: scale(1.2);
}
#finder-container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}
a:hover {
  transition: 1s;
  transform: scale(1);
  box-shadow: white 0px 3px 8px;
}
.lupa {
  width: 20px;
}
#search-boton,
#search-boton-up,
#search-boton-past,
#search-boton-lupa {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0px 50px 50px 0px;
  width: 50px;
  filter: brightness(100%);
}
#search-boton:hover {
  filter: hue-rotate(1deg) brightness(300%) opacity(60%);
  transition: 1s;
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(139, 0, 0);
}
#search-boton-up:hover {
  filter: hue-rotate(1deg) brightness(300%) opacity(60%);
  transition: 1s;
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(139, 0, 0);
}
#search-boton-past:hover {
  filter: hue-rotate(1deg) brightness(300%) opacity(60%);
  transition: 1s;
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(139, 0, 0);
}
#search-boton-lupa:hover {
  filter: hue-rotate(1deg) brightness(300%) opacity(60%);
  transition: 1s;
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(139, 0, 0);
}
#error-boton {
  position: absolute;
  left: 48px;
}
#error-img {
  object-fit: cover;
  height: 180px;
}
.img-dark-mode {
  filter: drop-shadow(1px 1px 4px rgb(255, 255, 255));
  border-radius: 1px;
  position: absolute;
  right: 22px;
  bottom: 22px;
}
.category-logo,
.date-logo,
.place-logo,
.price-logo,
.capacity-logo,
.assistance-logo,
.name-logo {
  filter: drop-shadow(1px 1px 5px rgb(255, 255, 255));
}
