* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: cursive;
  font-weight: lighter;
  color: black;
}
/*---------------------- I N D E X -----------------------*/

/*---------- Header -----------*/
.title_header {
  font-size: 52px;
  color: black;
  font-weight: bolder;
  font-style: italic;
  margin-left: 155px;
  margin-top: 61px;
}
.container_header {
  margin-left: 150px;
  margin-top: 2px;
  width: 1063px;
  height: 205px;
  border: 1px solid gray;
  background-image: url(../img/design1_image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -180px;
}

nav a {
  text-align: center;
  border: 2px solid black;
  display: inline-block;
  position: relative;
  left: 737px;
  bottom: 24px;
  font-size: 21px;
  text-decoration: none;
  color: white;
  font-weight: lighter;
  text-align: center;
  height: 35px;
  background-color: rgb(91, 91, 199);
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 1px 0px rgba(54, 53, 53, 0.75);
  -moz-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
}
#home {
  width: 95px;
  margin-right: 9px;
}

#about {
  width: 95px;
  margin-right: 2px;
}

#contact {
  width: 108px;
}
.active {
  text-decoration: none;
  background-color: rgb(79, 160, 72);
}
/*---------- Main -----------*/
.subtitle_header {
  color: black;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-top: 14px;
  margin-left: -5px;
  width: 1067px;
  height: 44px;
}
.section_container {
  width: 1063px;
  height: 285px;
  display: inline-block;
  position: relative;
  left: 153px;
  bottom: 58px;
}
.logo_container {
  width: 200px;
  display: inline-block;
  position: absolute;
  left: 9px;
  bottom: 70px;
}
.image_logo {
  width: 100px;
  border: 2px solid gray;
}
.day_container {
  width: 830px;
  display: inline-block;
  position: absolute;
  top: 90px;
  right: 70px;
}
.h4index {
  font-size: 21px;
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
}
.pindex {
  font-size: 21px;
  font-weight: bolder;
  margin-left: 25px;
}
div p {
  margin-top: -5px;
}
/*---------------------- A B O U T -----------------------*/

/*---------- Section -----------*/
.h4about {
  font-size: 22px;
  font-weight: bold;
  margin-top: 11px;
}
.pabout {
  font-size: 18px;
  margin-left: 0px;
  text-indent: 25px;
}
/*-------------------- C O N T A C T ----------------------*/

/*---------- Section -----------*/
.contact_container {
  width: 700px;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 115px;
  left: 150px;
}
.pcontact {
  font-size: 18px;
  margin-left: 22px;
  margin-bottom: 20px;
}
.mailcont {
  text-decoration: underline black 2px;
  color: rgb(90, 131, 194);
}
