* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: cursive;
  font-weight: lighter;
  color: black;
}
/*---------------------- I N D E X -----------------------*/

/*---------- Header -----------*/
.titulo_header {
  font-size: 55px;
  color: black;
  text-shadow: 2px 0px 0px white, 0px 2px 0px white, -2px 0px 0px white,
    0px -2px 0px white;
  font-weight: bold;
  margin-left: 10px;
}
.imgcont {
  margin-top: 50px;
  margin-left: 150px;
  width: 1000px;
  height: 180px;
  border: 1px solid black;
  background-image: url(../img/design1_image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -180px;
}

.subtitulo_header {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 150px;
  width: 1000px;
  height: 40px;
}
.logocont {
  border: 1px solid white;
  background-image: url(../img/Logo_Mighty_ducks-01.png);
}
.active {
  text-decoration: none;
  color: black;
}
a {
  color: rgb(90, 131, 194);
}
.contsub {
  position: relative;
}
.logo {
  width: 100px;
  position: absolute;
  left: 950px;
  bottom: -30px;
  border: 1px solid black;
  background-color: white;
}
/*---------- Main -----------*/
.seccont {
  width: 1000px;
  height: 200px;
  margin-top: 0px;
  margin-left: 150px;
  display: inline-block;
  position: relative;
}
.navcont {
  width: 200px;
  height: 25px;
  display: inline-block;
}
nav a {
  display: block;
  margin-left: 20px;
  margin-top: 40px;
}
.daycont {
  width: 700px;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 27px;
}
.h4index {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-top: 11px;
}
.pindex {
  font-size: 20px;
  margin-left: 22px;
}
div p {
  margin-top: -5px;
}
/*---------------------- A B O U T -----------------------*/

/*---------- Main -----------*/
.h4about {
  font-size: 21px;
  font-weight: bold;
  margin-top: 11px;
}
.pabout {
  font-size: 16px;
  margin-left: 22px;
}
.infocont {
  width: 700px;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 27px;
}
.pcontact {
  font-size: 16px;
  margin-left: 22px;
  margin-bottom: 20px;
}
.concont {
  width: 700px;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 50px;
}
